<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
    <title>The best game ever</title>
</head>

<body>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<span id="topscore"></span>
<span id="highscore"></span>
<span id="player_id"></span>

<script src="walkingdots.js"></script>
</body>
</html>